node_modules/
.env
.DS_Store
*.log
dist/
build/
coverage/
c:\Users\khimd\Downloads\node_further_modules\node_further_modules\google.js
c:\Users\khimd\Downloads\node_further_modules\node_further_modules\other.js
c:\Users\khimd\Downloads\node_further_modules\node_further_modules\other2.js
c:\Users\khimd\Downloads\node_further_modules\node_further_modules\package.json
c:\Users\khimd\Downloads\node_further_modules\node_further_modules\package-lock.json
c:\Users\khimd\Downloads\node_further_modules\node_further_modules\usefulStuff.js